@use "bootstrap/scss/bootstrap";
@use "./vars"as *;

// Generic
body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

// Btn Angle

.angle {
    position: absolute;
    top: 50%;
    background-color: $primary;
    padding: 25px 15px;
    opacity: 0.7;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
}

.angle-right {
    right: 0;
}

.angle-left {
    left: 0;
}

// Btn

button {
    font-size: 0.8rem;
    padding: 10px 20px;
}

.main-btn{
    color: $primary;
}

.secondary-btn{
    background-color: $primary;
    color: white;
}

// Section

.name-section {
    font-size: 0.8rem;
    color: grey;
}


h2 {
    color: $primary;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 30px;
}

// Utilities

.mt-100 {
    margin-top: 100px;
}
